<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Warning!</strong> The information shown in this graph have been trimmed to avoid using a lot of memory.
        </div>
    </div>
</div>
<div class="row" ng-show="loading">
    <div class="col-lg-12">
        <img src="/img/364.gif" alt="loading">
        <br>
        <h3>Please wait while we are loading the information...</h3>
    </div>
</div>
<div ng-hide="loading">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label for="exampleInputEmail1">Modified after (Default: 2016-05-01) : </label>
                <input type="date" class="form-control" ng-change="updateStatistic()" ng-model="dateStart">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <canvas chart-legend='true' class="chart chart-bar" chart-options="options" chart-data="statistic" chart-labels="weeks" chart-series="regions"></canvas>
        </div>
    </div>
</div>