<div class="row" ng-show="loading">
    <div class="col-lg-12">
        <img src="/img/364.gif" alt="loading">
        <br>
        <h3>Please wait while we are loading the information...</h3>
    </div>
</div>
<div ng-hide="loading">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label for="exampleInputEmail1">Modified after (Default: 2016-05-01) : </label>
                <input type="date" class="form-control" ng-change="updateStatistic()" ng-model="dateStart">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-info alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Tips!</strong> Put the mouse on top of a number to see the week and the region it is related to.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-bordered table-hover table-stripped table-responsive table-condensed">
                <thead>
                    <tr>
                        <th>Weeks</th>
                        <th ng-repeat="region in regions">
                            {{ region }}
                        </th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Weeks</th>
                        <th ng-repeat="region in regions">
                            {{ region }}
                        </th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr ng-repeat="row in weeks">
                        <td>Week #{{ row }}</td>
                        <td title="week {{row}} - {{ regions[$index] }}" ng-repeat="region in statistic" class="{{ region[row] ? 'success' : '' }}">
                            {{ region[row] ? region[row] : 0 }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>